.gradient{
    background-image: url("gradient.jpg");
    background-repeat: repeat-x;
    background-color: gray;
}
.felt{
    width: 300px;
    height: 300px;
    background-image: url("felt.jpg");
    position: relative;
    top: 25px;
    left: 25px;
}
.ten{
    position: absolute;
    top: 140px;
    left: 110px;
}
.jack{
    position: absolute;
    top: 115px;
    left: 110px;
}
/*Z index???